DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=kanso_db
DB_SYNCHRONIZE=false

# Producción: Añade la URL del frontend para habilitar CORS
FRONTEND_URL=https://tu-dominio-frontend.com

# Opcional: Cambia el puerto si no quieres el 3000 por defecto
PORT=3000

